h1 {
    font-family: url(./Labrada-VariableFont_wght.ttf);
    color: rgb(82, 35, 1);
    font-size: 50px;
}
body {
    background-color: beige;
}
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1px;
    margin-bottom: 20px;
}
nav {
     /* background-color: beige;*/
}

ul {
    display: flex;
    height: 100%;
    align-items: center;
}
  
nav ul li{
    padding-left: 20px;
    list-style-type: none;
}
  
/*main*/
main{
    color: white;
    /*text-align:center;*/
}
main section {
    display: flex;
    justify-content: center;
}
  main section div{
    background-color: rgb(82, 35, 1);
    margin: 20px;
    padding: 50px;
    width: 300px;
    height: 200px;
    text-align: center;
    
    border-radius: 15px;
}
main section div h3{
    padding-bottom: 40px;
}
main h2{
    margin-left: 880px;
    color:rgb(82, 35, 1);
}
main h1{
    margin-left: 650px;
}  
  /*footer*/
footer ul li{
    text-decoration: blue;
}
  