* /*reset*/
h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:white;
  font-size: 100px;
}

/*body*/
body{
  background-color: rgb(0, 56, 119);
}

/*header*/
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}

nav {
  /* background-color: #EF7D19; */
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
}

nav ul li {
  padding-left: 20px;
  list-style-type: none;
}

/*main*/
main{
  color: rgb(0, 0, 0);
  /*text-align:center;*/
}
main section {
  display: flex;
  justify-content: center;
}
main section div{
  background-image: url(../imagens/fundo\ azul.avif);
  margin: 30px;
  padding: 40px;
  width: 300px;
  height: 200px;
  text-align: center;
  
  border-radius: 20px;
}
main section div h3{
  padding-bottom: 50px;
}
main h2{
  margin-left: 880px;
}
main h1{
  margin-left: 730px;
}  
/*footer*/
